.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  border-radius: 4px;
  padding: 8px 32px;
  transition: background-color 0.25s;

  &.padding-sm {
    padding: 4px 16px;
  }

  &.padding-xs {
    padding: 2px 8px;
  }
}

.container:focus {
  outline: 2px solid var(--color-primary);
}

.full-width {
  width: 100%;
  flex-grow: 1;
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-gray-50);

  &:hover {
    background-color: var(--color-primary-light);
  }
}

.gray {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);

  &:hover {
    background-color: var(--color-gray-200);
  }
}

.bold {
  font-weight: bold !important;
}

.spinner-container {
  &.md {
    width: 24px;
    height: 24px;
  }

  &.sm {
    width: 20px;
    height: 20px;
  }
}

.container:disabled {
  background-color: var(--color-gray-300);
  color: var(--color-gray-500);

  &:hover {
    background-color: var(--color-gray-300);
  }
}
