@import "tailwindcss";

body {
  background: white;
  font-family: "Pretendard";
}
 
#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: white;
}

@theme {
  --color-t1normal: #024CAA;
  --color-t1light: #0363DE;
  --color-t1dark: #013679;
}