.container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--color-primary);
  color: var(--color-gray-50);
}

.logo-box {
  flex: auto 0 0;
  user-select: none;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  transition: transform 0.25s;

  svg {
    width: auto;
    height: 28px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.profile-box {
  display: flex;
  gap: 16px;

  .profile-name {
    user-select: none;
    flex: auto 0 0;
  }

  .noti-button {
    flex: 20px 0 0;
    height: 20px;
    border-radius: 4px;
    transition: all 0.25s;

    & > svg {
      width: 100%;
      height: 100%;
      stroke: var(--color-gray-50);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
